<%- include('../partials/header.ejs')%>
    <link rel="stylesheet" href="../../public/css/admincss/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../public/css/admincss/style.css">
    <link rel="stylesheet" href="../../public/css/admincss/vendor.bundle.base.css">
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
          <div class="row w-100 m-0">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
              <div class="card col-lg-4 mx-auto">
                <div class="card-body px-5 py-5">
                  <h3 class="card-title text-left mb-3">Login</h3>
                  <form action="/admin/login" method="post" id="adminLoginForm">
                    <div class="form-group">
                      <label for="email">Username or email *</label>
                      <input type="email"  class="form-control p_input" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                      <label for="password">Password *</label>
                      <input type="password" class="form-control p_input" id="password" name="password" required>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-between">
                      <div class="form-check">
                        <label class="form-check-label">
                      </div>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary btn-block enter-btn">Login</button>
                    </div>
              
                  </form>
                </div>
              </div>
            </div>
            <!-- content-wrapper ends -->
          </div>
          <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
      </div>

   
      <script src="/js/vendor.bundle.base.js"></script>
      <script src="/js/off-canvas.js"></script>
      <script src="/js/hoverable-collapse.js"></script>
      <script src="/js/misc.js"></script>
      <script src="/js/settings.js"></script>
      <script src="/js/todolist.js"></script>
     
    <%- include('../partials/footer.ejs')%>